<div class="btn-container">
    <button (click)="selectConfig(0)"> config 1</button>
    <button (click)="selectConfig(1)"> config 2</button>
    <button (click)="selectConfig(2)"> config 3</button>
</div>

@let config = selectedConfig();
@if(!!config) {
    <div class="selected-config-section">
        <div>
            <pre>{{ config | json }}</pre>
        </div>
        <div [ngStyle]="config?.containerStyle">
            <h5 [ngStyle]="config?.title?.style">{{config?.title?.content}}</h5>
            <p [ngStyle]="config?.subText?.style">{{config?.subText?.content}}</p>
        </div>
    </div>
}